.skill{
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 10, 27, 0.83);
    display: flex;
}
a{
    color: #fff;
    text-decoration: none;
}
.projects{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects ul{
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}
.projects ul li{
    width: 200px;
    height: 20%;
    background-color: #bababa;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.projects ul li a{
    border-radius: 50%;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: show 2s;
    background-color: rgb(255, 255, 0);
    width: 100%;
    height: 100%;
}
.technology{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color :#fff;
}
.technology div{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    position: relative;
    overflow-x: hidden;
}
.technology div ul{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.technology div ul li{
    width: 200px;
    height: 50%;
    color : black;
    background-color: #bababa;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    overflow-x: hidden;
}
.technology div ul li:hover{
    cursor: pointer;
}

.technology div ul li h5{
    z-index: 10;
}
.technology div ul li div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: 1s;
    z-index: 1;
    right: -100%;
    border-radius: 20px;
    background-color: rgb(255, 225, 0);
}

.front{
    position: absolute;
    right: 20%;
}
.back{
    position: absolute;
    left: 20%;
}



#html{
    animation: html 2s;
    right: -10% ;
}
#css{
    animation: css 2s;
    right: -10% ;
}
#flex{
    animation: flex 2s;
    right: -20% ;
}
#sass{
    animation: sass 2s;
    right: -30% ;
}
#tailwind{
    animation: tailwind 2s;
    right: -80% ;
}
#readux{
    animation: readux 2s;
    right: -50% ;
}
#type{
    animation: type 2s;
    right: -70% ;
}

#js{
    animation: js 2s;
    right: -20% ;
}
#react{
    animation: react 2s;
    right: -20% ;
}
#api{
    animation: api 2s;
    right: -10% ;
}
#mongo{
    animation: mongo 2s;
    right: -30% ;
}
#my{
    animation: my 2s;
    right: -60% ;
}
#sql{
    animation: sql 2s;
    right: -60% ;
}
#express{
    animation: express 2s;
    right: -50% ;
}
#node{
    animation: node 2s;
    right: -40% ;
}


@keyframes show {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}


@keyframes html {
    0% {
        right: -100%;
    }

    100% {
        right: -10%;
    }
}
@keyframes css {
    0% {
        right: -100%;
    }

    100% {
        right: -10%;
    }
}
@keyframes flex {
    0% {
        right: -100%;
    }

    100% {
        right: -20% ;

    }
}
@keyframes sass {
    0% {
        right: -100%;
    }

    100% {
        right: -30%;
    }
}
@keyframes tailwind {
    0% {
        right: -100%;
    }

    100% {
        right: -80%;
    }
}
@keyframes readux {
    0% {
        right: -100%;
    }

    100% {
        right: -50%;
    }
}
@keyframes type {
    0% {
        right: -100%;
    }

    100% {
        right: -70%;
    }
}

@keyframes js {
    0% {
        right: -100%;
    }

    100% {
        right: -20%;
    }
}
@keyframes react {
    0% {
        right: -100%;
    }

    100% {
        right: -20%;
    }
}
@keyframes api {
    0% {
        right: -100%;
    }

    100% {
        right: -10%;
    }
}
@keyframes mongo {
    0% {
        right: -100%;
    }

    100% {
        right: -30%;
    }
}
@keyframes sql {
    0% {
        right: -100%;
    }

    100% {
        right: -60%;
    }
}
@keyframes my {
    0% {
        right: -100%;
    }

    100% {
        right: -60%;
    }
}
@keyframes express {
    0% {
        right: -100%;
    }

    100% {
        right: -50%;
    }
}
@keyframes node {
    0% {
        right: -100%;
    }

    100% {
        right: -40%;
    }
}






@media screen and (max-width:1440px) {
    .technology div{
        flex-wrap: nowrap;
        overflow-y: scroll;
    }
    .front{
        width: 100%;
    }
    .back{
        width: 100%;
    }

}